@charset "UTF-8"

.explanation{
float: left;
}

dt{
  font-weight: bold;
}

.btn{
  font-size: 1.4em;
  font-weight: bold;
  color: #fff;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  margin: 5px;
  padding: 10px 30px;
  border: none;
  font-size; 16px;
  box-shadow: 2px 2px 3px 1px #666;
  -moz-box-shadow: 2px 2px 3px 1px #666;
  -webkit-box-shadow: 2px 2px 3px 1px #666;
  text-shadow: 1px 1px 2px #000;
}

.btn:hover{
  opacity: 0.5;
}

.btn:active{
  color: white;
}

.btn-submit{
  background-color: silver;
}

.btn-reset{
  background-color: LightBlue;
}

/*　かっこいい表 */
#ingredient{
  border: 2px solid lightblue;
  border-collapse: collapse;
}
th{
  border: 1px solid lightblue;
  background-color: lightblue;
  padding: 5px;
  width: 100px;
  text-align: center;
}

td{
  border: 1px solid lightblue;
  padding: 5px;
  width: 80px;
  text-align: right;
}

caption{
  padding: 5px;
}

#price{
  background-color: lightyellow;
}

thead th, tfoot th{
  background-color: white;
}

thead td{
  color: white;
  background-color: skyblue;
  text-align: center;
}

tfoot td{
  font-weight: bold;
  background-color: white;
}
