@charset "UTF-8"

.explanation{
float: left;
}

dt{
  font-weight: bold;
}

.btn{
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  margin: 5px;
  width: 100px;
  height: 40px;
  padding: 10px;
  border: none;
  font-size; 16px;
}

.btn:hover{
  opacity: 0.5;
}

.btn:active{
  color: white;
}

.btn-submit{
  background-color: silver;
}

.btn-reset{
  background-color: LightBlue;
}






}
